@font-face {
    font-family: Press Start P2;
    src: url('font/PressStart2P-Regular.ttf') format('truetype');
}
@keyframes blinker {
    0% { opacity: 1; }
    50% { opacity: 0;}
    100% { }
}

.typing-animation {
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0;
  }
  
  .typing-animation::after {
    content: "|";
    display: inline-block;
    animation: blink-caret 0.75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #000; }
  }
  
  .typing-animation.complete::after {
    content: "";
    animation: none;
  }


body{
    color:  rgb(255, 255, 255);
    background-image: url('IMG/metro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:25% 10%;    
}

h1 {
    position: absolute;
    top: 120px;
    left: 720px;
    padding: 10px;
    content: attr(data-text);
    animation: blinker 1s linear infinite;
    overflow: hidden;
    border-right: 0.15em solid #000;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
    text-shadow: 5px 4px rgb(0, 0, 0)
    
    
}
ul,li{
    
    margin: 15px;
    padding-left: 20px;
    list-style-type:square;
    text-shadow: 2px 2px rgb(0, 0, 0) ;
    
}

.li{
    color:rgb(227, 248, 40)
    
}
.li2{
    color:rgb(238, 115, 44)
    
}
.list{

    position: absolute;
    top: 280px;
    left: 300px;
    border: dotted 2px;
    color: rgb(231, 196, 79);
    background-image: url(IMG/tunnel.jpg);
    background-position:center;
    background-position: 1800px 2400px;
    box-shadow: 2px 2px rgb(27, 8, 8);
    border-radius: 30px 0px 50px 0px;
    
}
.h-position-animation{
    position: absolute;
    font-size: 27px;
    top:260px;
    left:420px;
    overflow: hidden;
    border-right: 0.15em solid #000;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
    text-shadow: 5px 4px rgb(0, 0, 0)
}

.hh-position-animation{
    position: absolute;
    top: 580px;
    left: 1000px;
    overflow: hidden;
    border-right: 0.15em solid #000;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
    text-shadow: 7px 7px rgb(0, 0, 0)
    
}


.as1{
    position:absolute;
    top:250px;
    left:1000px;
    border: 3px dotted rgb(231, 196, 79);
    box-shadow: 2px 2px rgb(231, 196, 79);
    border-radius: 20% 20% 20% 20%;
}

.as2{
    position:absolute;
    top:250px;
    left:1280px;
    border: 3px dotted rgb(231, 196, 79);
    box-shadow: 2px 2px rgb(0, 0, 0);
    border-radius: 20% 20% 20% 20%;
}

.as3{
    position:absolute;
    top:250px;
    left:1470px;
    border: 3px dotted rgb(231, 196, 79);
    box-shadow: 2px 2px rgb(231, 196, 79);
    border-radius: 20% 20% 20% 20%;
}

.typing-animation {
    overflow: hidden;
    border-right: 0.15em solid #000;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
  }
  
.iframe1{
    position: absolute;
    top:630px;
    left:1050px;
}
.iframe2{
    position: absolute;
    top:750px;
    left:1050px;
}